RewriteEngine On

# Fix misspelling: cs-sucess → cs-success
RewriteRule ^(.*/)cs-sucess(/.*)?$ /$1cs-success$2 [R=301,L]

# Remove trailing /start from any path
RewriteRule ^(.*/)start/?$ /$1 [R=301,L]

# Redirect optional start on root page
RewriteRule ^start/?$ / [R=301,L]

# Redirect ANY sub-page under keypairs to the new utilities path
RewriteRule ^student/utilities/start/keypairs/(.*)$ /student/utilities/$1 [R=301,L]

# ------------------------------------------------------------
# Explicit legacy redirects (generated / maintained)
# ------------------------------------------------------------

#Redirect 301 /department /department
#Redirect 301 /department/admissionfaq /department/admissionfaq
#Redirect 301 /department/advising-dualmath /department/advising-dualmath
#Redirect 301 /department/advising/admissions-criteria /department/advising/admissions-criteria
#Redirect 301 /department/advising/changing-majors /department/advising/changing-majors
#Redirect 301 /department/advising/withdraw /department/advising/withdraw
#Redirect 301 /department/computer_labs /department/computer_labs
#Redirect 301 /department/cs_research_seminar_talks /department/cs_research_seminar_talks
#Redirect 301 /department/cs-advising /department/cs-advising
#Redirect 301 /department/cs-success /department/cs-success
#Redirect 301 /department/curriculum /department/curriculum
#Redirect 301 /department/curriculum/plana /department/curriculum/plana
#Redirect 301 /department/enrollment-fest /department/enrollment-fest
#Redirect 301 /department/evaluation_timelines /department/evaluation_timelines
#Redirect 301 /department/facultyguide /department/facultyguide
#Redirect 301 /department/fall20admission /department/fall20admission
#Redirect 301 /department/fall20faq /department/fall20faq
#Redirect 301 /department/fall20updates /department/fall20updates
#Redirect 301 /department/firstyear-advising /department/firstyear-advising
#Redirect 301 /department/fya /department/fya
#Redirect 301 /department/graduation /department/graduation
#Redirect 301 /department/honors_capstone /department/honors_capstone
#Redirect 301 /department/inactive_research_projects /department/inactive_research_projects
#Redirect 301 /department/listserv /department/listserv
#Redirect 301 /department/news/2025/spring /department/news/2025/spring
#Redirect 301 /department/officehours /department/officehours
#Redirect 301 /department/remote_access /department/remote_access
#Redirect 301 /department/research /department/research
#Redirect 301 /department/schedule_fall2021 /department/schedule_fall2021
#Redirect 301 /department/schedule_fall2022 /department/schedule_fall2022
#Redirect 301 /department/schedule_fall2023 /department/schedule_fall2023
#Redirect 301 /department/schedule_fall2024 /department/schedule_fall2024
#Redirect 301 /department/schedule_fall2025 /department/schedule_fall2025
#Redirect 301 /department/schedule_spring2021 /department/schedule_spring2021
#Redirect 301 /department/schedule_spring2022 /department/schedule_spring2022
#Redirect 301 /department/schedule_spring2023 /department/schedule_spring2023
#Redirect 301 /department/schedule_spring2024 /department/schedule_spring2024
#Redirect 301 /department/schedule_spring2025 /department/schedule_spring2025
#Redirect 301 /department/schedule_spring2026 /department/schedule_spring2026
#Redirect 301 /department/scholarships /department/scholarships
#Redirect 301 /department/sp20updates /department/sp20updates
#Redirect 301 /department/spring20admission /department/spring20admission
#Redirect 301 /department/student-events /department/student-events
#Redirect 301 /department/ta-program /department/ta-program
#Redirect 301 /department/ta-program/schedules /department/ta-program/schedules
#Redirect 301 /department/ta-program/schedules /department/ta-program/schedules
#Redirect 301 /department/ta-program/schedules/2024-08 /department/ta-program/schedules/2024-08
#Redirect 301 /department/ta-program/schedules/2025-01 /department/ta-program/schedules/2025-01
#Redirect 301 /department/ta-program/schedules/2025-08 /department/ta-program/schedules/2025-08
Redirect 301 /department/teachinginterests /faculty/teaching/teaching_interests/
#Redirect 301 /department/waitlist /department/waitlist

#Redirect 301 /events /events
#Redirect 301 /events/2025-09-25-progressing_on_programming_problems /events/2025-09-25-progressing_on_programming_problems
#Redirect 301 /events/2025-10-08-kickstarting-professional-experience /events/2025-10-08-kickstarting-professional-experience
#Redirect 301 /events/2025-11-01-digital /events/2025-11-01-digital
#Redirect 301 /events/2025-11-13-game_night /events/2025-11-13-game_night
#Redirect 301 /events/2025-11-14-stock_photos /events/2025-11-14-stock_photos
#Redirect 301 /events/2025-11-17-spirit_week /events/2025-11-17-spirit_week

#Redirect 301 /student /student
#Redirect 301 /student/advising /student/advising
#Redirect 301 /student/autolab /student/autolab
#Redirect 301 /student/autolab/common-tasks /student/autolab/common-tasks
#Redirect 301 /student/autolab/grade-report /student/autolab/grade-report
#Redirect 301 /student/autolab/gradingtier-summarizers /student/autolab/gradingtier-summarizers
#Redirect 301 /student/autolab/sidebar /student/autolab/sidebar
#Redirect 301 /student/autolab/troubleshooting /student/autolab/troubleshooting
#Redirect 301 /student/building_maps /student/building_maps
#Redirect 301 /student/c /student/c
#Redirect 301 /student/c/gdb /student/c/gdb
#Redirect 301 /student/c/gpp /student/c/gpp
#Redirect 301 /student/c/make /student/c/make
#Redirect 301 /student/canvas /student/canvas
#Redirect 301 /student/canvas/calculations /student/canvas/calculations
#Redirect 301 /student/career-fair /student/career-fair
#Redirect 301 /student/checkstyle /student/checkstyle
#Redirect 301 /student/checkstyle/common-defects /student/checkstyle/common-defects
#Redirect 301 /student/checkstyle/configuration-files /student/checkstyle/configuration-files
#Redirect 301 /student/clubs /student/clubs
#Redirect 301 /student/cluster /student/cluster
#Redirect 301 /student/computer_labs /student/computer_labs
#Redirect 301 /student/cs_research_seminar_talks /student/cs_research_seminar_talks
#Redirect 301 /student/cs-branding /student/cs-branding
#Redirect 301 /student/cs-q_a /student/cs-q_a
#Redirect 301 /student/cs-success /student/cs-success
#Redirect 301 /student/cs-sucess /student/cs-sucess
#Redirect 301 /student/cs149startup /student/cs149startup
#Redirect 301 /student/curriculum /student/curriculum
#Redirect 301 /student/digital_2024 /student/digital_2024
#Redirect 301 /student/digital2021 /student/digital2021
#Redirect 301 /student/digital2021/drones /student/digital2021/drones
#Redirect 301 /student/digital2021/finch /student/digital2021/finch
#Redirect 301 /student/digital2021/programming /student/digital2021/programming
#Redirect 301 /student/digital2021/startdigital2022 /student/digital2021/startdigital2022
#Redirect 301 /student/digital2021/turtle /student/digital2021/turtle
#Redirect 301 /student/digital2021/web-design /student/digital2021/web-design
#Redirect 301 /student/digital2025 /student/digital2025
#Redirect 301 /student/eclipse /student/eclipse
#Redirect 301 /student/eclipse/checkstyle /student/eclipse/checkstyle
#Redirect 301 /student/eclipse/eclemma /student/eclipse/eclemma
#Redirect 301 /student/eclipse/eclemma_install /student/eclipse/eclemma_install
#Redirect 301 /student/eclipse/git /student/eclipse/git
#Redirect 301 /student/eclipse/help /student/eclipse/help
#Redirect 301 /student/eclipse/install /student/eclipse/install
#Redirect 301 /student/eclipse/serialization /student/eclipse/serialization
#Redirect 301 /student/eclipse/subversion /student/eclipse/subversion
#Redirect 301 /student/eclipse/visualvm_install /student/eclipse/visualvm_install
#Redirect 301 /student/firstyearfinals /student/firstyearfinals
#Redirect 301 /student/firstyearstartup /student/firstyearstartup
#Redirect 301 /student/freesoftware /student/freesoftware
#Redirect 301 /student/fulladmission /student/fulladmission
#Redirect 301 /student/gamenight /student/gamenight
#Redirect 301 /student/gcov /student/gcov
#Redirect 301 /student/gradescope /student/gradescope
#Redirect 301 /student/gradescope/gradingtier-summarizers /student/gradescope/gradingtier-summarizers
#Redirect 301 /student/gradescope/submitting-code /student/gradescope/submitting-code
#Redirect 301 /student/gradescope/submitting-labs /student/gradescope/submitting-labs
#Redirect 301 /student/graduation /student/graduation
#Redirect 301 /student/graduation-checklist /student/graduation-checklist
#Redirect 301 /student/graduation-preparation /student/graduation-preparation
#Redirect 301 /student/honors_capstone /student/honors_capstone
#Redirect 301 /student/it_start /student/it_start
#Redirect 301 /student/java /student/java
#Redirect 301 /student/java/attributedstring /student/java/attributedstring
#Redirect 301 /student/java/browser /student/java/browser
#Redirect 301 /student/java/enum /student/java/enum
#Redirect 301 /student/java/formatting /student/java/formatting
#Redirect 301 /student/java/jar /student/java/jar
#Redirect 301 /student/java/javadoc /student/java/javadoc
#Redirect 301 /student/java/localization /student/java/localization
#Redirect 301 /student/java/loookandfeel /student/java/loookandfeel
#Redirect 301 /student/java/profiling /student/java/profiling
#Redirect 301 /student/java/resources /student/java/resources
#Redirect 301 /student/java/versions /student/java/versions
#Redirect 301 /student/jgrasp /student/jgrasp
#Redirect 301 /student/jgrasp/help /student/jgrasp/help
#Redirect 301 /student/junit /student/junit
#Redirect 301 /student/junit/gui /student/junit/gui
#Redirect 301 /student/junit/v3 /student/junit/v3
#Redirect 301 /student/junit/v4 /student/junit/v4
#Redirect 301 /student/junit/v5 /student/junit/v5
#Redirect 301 /student/kdiff /student/kdiff
#Redirect 301 /student/listserv /student/listserv
#Redirect 301 /student/macdev /student/macdev
#Redirect 301 /student/mathematics /student/mathematics
#Redirect 301 /student/mathematics/alphabets /student/mathematics/alphabets
#Redirect 301 /student/mathematics/angular-measure /student/mathematics/angular-measure
#Redirect 301 /student/mathematics/coordinate-systems-2d /student/mathematics/coordinate-systems-2d
#Redirect 301 /student/mathematics/intervals /student/mathematics/intervals
#Redirect 301 /student/mathematics/limits /student/mathematics/limits
#Redirect 301 /student/mathematics/logarithms /student/mathematics/logarithms
#Redirect 301 /student/mattermost /student/mattermost
#Redirect 301 /student/microwaves /student/microwaves
#Redirect 301 /student/minor-advising /student/minor-advising
#Redirect 301 /student/onlinesemestersurvival /student/onlinesemestersurvival
#Redirect 301 /student/personalgithub /student/personalgithub
#Redirect 301 /student/personalgithub/eclipse /student/personalgithub/eclipse
#Redirect 301 /student/psi /student/psi
#Redirect 301 /student/python/virtualenv /student/python/virtualenv
#Redirect 301 /student/research /student/research
#Redirect 301 /student/scrumboard /student/scrumboard
#Redirect 301 /student/scrumj /student/scrumj
#Redirect 301 /student/scrumj/help /student/scrumj/help
#Redirect 301 /student/scrumj/practices /student/scrumj/practices
#Redirect 301 /student/senior-wall /student/senior-wall
#Redirect 301 /student/stickercontest /student/stickercontest
#Redirect 301 /student/stickercontest21 /student/stickercontest21
#Redirect 301 /student/stu /student/stu
#Redirect 301 /student/stu/basics /student/stu/basics
#Redirect 301 /student/stu/ettiquette /student/stu/ettiquette
#Redirect 301 /student/stu/filezilla /student/stu/filezilla
#Redirect 301 /student/stu/gdb /student/stu/gdb
#Redirect 301 /student/stu/vscode /student/stu/vscode
#Redirect 301 /student/typographic-conventions /student/typographic-conventions
#Redirect 301 /student/utilities /student/utilities
#Redirect 301 /student/utilities/activity-monitors /student/utilities/activity-monitors
#Redirect 301 /student/utilities/git /student/utilities/git
#Redirect 301 /student/utilities/sshfs /student/utilities/sshfs
#Redirect 301 /student/utilities/sshportforward /student/utilities/sshportforward
#Redirect 301 /student/utilities/start/keypairs /student/utilities/start/keypairs
#Redirect 301 /student/utilities/start/keypairs/beginner /student/utilities/start/keypairs/beginner
#Redirect 301 /student/visualparadigm /student/visualparadigm
#Redirect 301 /student/visualparadigm/tips /student/visualparadigm/tips
#Redirect 301 /student/vivifyscrum /student/vivifyscrum
#Redirect 301 /student/vivifyscrum/help /student/vivifyscrum/help
#Redirect 301 /student/vivifyscrum/practices /student/vivifyscrum/practices
#Redirect 301 /student/vm /student/vm
#Redirect 301 /student/vpn /student/vpn
#Redirect 301 /student/web_browsers /student/web_browsers
#Redirect 301 /student/webcat /student/webcat
#Redirect 301 /student/wireless /student/wireless
#Redirect 301 /student/withdraw-faq /student/withdraw-faq
#Redirect 301 /student/xml /student/xml
#Redirect 301 /student/xml/basics /student/xml/basics
#Redirect 301 /student/zip /student/zip
#Redirect 301 /student/zip/creating /student/zip/creating
#Redirect 301 /student/zip/emailing /student/zip/emailing
#Redirect 301 /student/zip/extracting /student/zip/extracting
