# Remove trailing /start from any path
RedirectMatch 301 ^/(.*/)?start/*$ /$1

# Pages moved to faculty side of wiki
RedirectMatch 301 ^/student/digital2021/index/*$ /archive/digital2021/
RedirectMatch 301 ^/student/digital2021/*$ /archive/digital2021/
RedirectMatch 301 ^/student/digital2021/drones/*$ /archive/digital2021/drones/
RedirectMatch 301 ^/student/digital2021/finch/*$ /archive/digital2021/finch/
RedirectMatch 301 ^/student/digital2021/programming/*$ /archive/digital2021/programming/
RedirectMatch 301 ^/student/digital2021/startdigital2022/*$ /archive/digital2021/startdigital2022/
RedirectMatch 301 ^/student/digital2021/turtle/*$ /archive/digital2021/turtle/
RedirectMatch 301 ^/student/digital2021/web-design/*$ /archive/digital2021/web-design/
RedirectMatch 301 ^/events/2025-09-25-progressing_on_programming_problems/*$ /archive/files/2025-09-25-progressing_on_programming_problems/
RedirectMatch 301 ^/events/2025-10-08-kickstarting-professional-experience/*$ /archive/files/2025-10-08-kickstarting-professional-experience/
RedirectMatch 301 ^/events/2025-11-01-digital/*$ /archive/files/2025-11-01-digital/
RedirectMatch 301 ^/events/2025-11-13-game_night/*$ /archive/files/2025-11-13-game_night/
RedirectMatch 301 ^/events/2025-11-14-stock_photos/*$ /archive/files/2025-11-14-stock_photos/
RedirectMatch 301 ^/events/2025-11-17-spirit_week/*$ /archive/files/2025-11-17-spirit_week/
RedirectMatch 301 ^/events/2025-11-17-_21game_night/*$ /archive/files/2025-11-17-spirit_week/
RedirectMatch 301 ^/student/autolab/index/*$ /help/autolab/
RedirectMatch 301 ^/student/autolab/*$ /help/autolab/
RedirectMatch 301 ^/student/autolab/common-tasks/*$ /help/autolab/common-tasks/
RedirectMatch 301 ^/student/autolab/grade-report/*$ /help/autolab/grade-report/
RedirectMatch 301 ^/student/autolab/gradingtier-summarizers/*$ /help/autolab/gradingtier-summarizers/
RedirectMatch 301 ^/student/autolab/sidebar/*$ /help/autolab/sidebar/
RedirectMatch 301 ^/student/autolab/troubleshooting/*$ /help/autolab/troubleshooting/
RedirectMatch 301 ^/student/cs-sucess/*$ /student/cs-success/
RedirectMatch 301 ^/department/*$ /student/department/
RedirectMatch 301 ^/department/index/*$ /student/department/
RedirectMatch 301 ^/department/admissionfaq/*$ /student/department/admissionfaq/
RedirectMatch 301 ^/department/advising-dualmath/*$ /student/department/advising-dualmath/
RedirectMatch 301 ^/department/advising/admissions-criteria/*$ /student/department/advising/admissions-criteria/
RedirectMatch 301 ^/department/advising/changing-majors/*$ /student/department/advising/changing-majors/
RedirectMatch 301 ^/department/advising/withdraw/*$ /student/department/advising/withdraw/
RedirectMatch 301 ^/department/computer_labs/*$ /student/department/computer_labs/
RedirectMatch 301 ^/department/computer_labs/index/*$ /student/department/computer_labs/
RedirectMatch 301 ^/department/cs-advising/*$ /student/department/cs-advising/
RedirectMatch 301 ^/student/cs-branding/index/*$ /student/department/cs-branding/
RedirectMatch 301 ^/student/cs-branding/*$ /student/department/cs-branding/
RedirectMatch 301 ^/department/cs-success/*$ /student/department/cs-success/
RedirectMatch 301 ^/department/cs_research_seminar_talks/*$ /student/department/cs_research_seminar_talks/
RedirectMatch 301 ^/department/curriculum/index/*$ /student/department/curriculum/
RedirectMatch 301 ^/department/curriculum/*$ /student/department/curriculum/
RedirectMatch 301 ^/department/curriculum/plana/*$ /student/department/curriculum/plana/
RedirectMatch 301 ^/department/enrollment-fest/*$ /student/department/enrollment-fest/
RedirectMatch 301 ^/department/fall20admission/*$ /student/department/fall20admission/
RedirectMatch 301 ^/department/fall20faq/*$ /student/department/fall20faq/
RedirectMatch 301 ^/department/fall20updates/*$ /student/department/fall20updates/
RedirectMatch 301 ^/department/firstyear-advising/*$ /student/department/firstyear-advising/
RedirectMatch 301 ^/department/fya/index/*$ /student/department/fya/
RedirectMatch 301 ^/department/fya/*$ /student/department/fya/
RedirectMatch 301 ^/department/graduation/*$ /student/department/graduation/
RedirectMatch 301 ^/department/honors_capstone/index/*$ /student/department/honors_capstone/
RedirectMatch 301 ^/department/honors_capstone/*$ /student/department/honors_capstone/
RedirectMatch 301 ^/department/inactive_research_projects/*$ /student/department/inactive_research_projects/
RedirectMatch 301 ^/department/listserv/*$ /student/department/listserv/
RedirectMatch 301 ^/department/news/2025/spring/*$ /student/department/news/2025/spring/
RedirectMatch 301 ^/department/remote_access/*$ /student/department/remote_access/
RedirectMatch 301 ^/department/research/*$ /student/department/research/
RedirectMatch 301 ^/department/schedule_fall2021/index/*$ /student/department/schedule_fall2021/
RedirectMatch 301 ^/department/schedule_fall2021/*$ /student/department/schedule_fall2021/
RedirectMatch 301 ^/department/schedule_fall2022/*$ /student/department/schedule_fall2022/
RedirectMatch 301 ^/department/schedule_fall2022/index/*$ /student/department/schedule_fall2022/
RedirectMatch 301 ^/department/schedule_fall2023/*$ /student/department/schedule_fall2023/
RedirectMatch 301 ^/department/schedule_fall2024/*$ /student/department/schedule_fall2024/
RedirectMatch 301 ^/department/schedule_fall2025/*$ /student/department/schedule_fall2025/
RedirectMatch 301 ^/department/schedule_spring2021/index/*$ /student/department/schedule_spring2021/
RedirectMatch 301 ^/department/schedule_spring2021/*$ /student/department/schedule_spring2021/
RedirectMatch 301 ^/department/schedule_spring2022/*$ /student/department/schedule_spring2022/
RedirectMatch 301 ^/department/schedule_spring2022/index/*$ /student/department/schedule_spring2022/
RedirectMatch 301 ^/department/schedule_spring2023/*$ /student/department/schedule_spring2023/
RedirectMatch 301 ^/department/schedule_spring2024/*$ /student/department/schedule_spring2024/
RedirectMatch 301 ^/department/schedule_spring2025/*$ /student/department/schedule_spring2025/
RedirectMatch 301 ^/department/scholarships/*$ /student/department/scholarships/
RedirectMatch 301 ^/department/sp20updates/*$ /student/department/sp20updates/
RedirectMatch 301 ^/department/spring20admission/*$ /student/department/spring20admission/
RedirectMatch 301 ^/department/student-events/*$ /student/department/student-events/
RedirectMatch 301 ^/department/student-events/index/*$ /student/department/student-events/
RedirectMatch 301 ^/department/ta-program/index/*$ /student/department/ta-program/
RedirectMatch 301 ^/department/ta-program/*$ /student/department/ta-program/
RedirectMatch 301 ^/department/ta-program/schedules/index/*$ /student/department/ta-program/schedules/
RedirectMatch 301 ^/department/ta-program/schedules/*$ /student/department/ta-program/schedules/
RedirectMatch 301 ^/department/ta-program/schedules/2024-08/*$ /student/department/ta-program/schedules/2024-08/
RedirectMatch 301 ^/department/ta-program/schedules/2025-01/*$ /student/department/ta-program/schedules/2025-01/
RedirectMatch 301 ^/department/ta-program/schedules/2025-08/*$ /student/department/ta-program/schedules/2025-08/
RedirectMatch 301 ^/department/waitlist/index/*$ /student/department/waitlist/
RedirectMatch 301 ^/department/waitlist/*$ /student/department/waitlist/
RedirectMatch 301 ^/department/officehours/*$ /student/officehours/
RedirectMatch 301 ^/department/schedule_spring2026/*$ /student/schedule_spring2026/
RedirectMatch 301 ^/student/graduation-preparation/index/*$ /student/senior/graduation-preparation/
RedirectMatch 301 ^/student/graduation-preparation/*$ /student/senior/graduation-preparation/
RedirectMatch 301 ^/student/c/index/*$ /student/technical-ref/c/
RedirectMatch 301 ^/student/c/*$ /student/technical-ref/c/
RedirectMatch 301 ^/student/c/gdb/*$ /student/technical-ref/c/gdb/
RedirectMatch 301 ^/student/c/gpp/*$ /student/technical-ref/c/gpp/
RedirectMatch 301 ^/student/c/make/*$ /student/technical-ref/c/make/
RedirectMatch 301 ^/student/canvas/index/*$ /student/technical-ref/canvas/
RedirectMatch 301 ^/student/canvas/*$ /student/technical-ref/canvas/
RedirectMatch 301 ^/student/canvas/calculations/*$ /student/technical-ref/canvas/calculations/
RedirectMatch 301 ^/student/checkstyle/*$ /student/technical-ref/checkstyle/
RedirectMatch 301 ^/student/checkstyle/index/*$ /student/technical-ref/checkstyle/
RedirectMatch 301 ^/student/checkstyle/common-defects/*$ /student/technical-ref/checkstyle/common-defects/
RedirectMatch 301 ^/student/checkstyle/configuration-files/*$ /student/technical-ref/checkstyle/configuration-files/
RedirectMatch 301 ^/student/eclipse/*$ /student/technical-ref/eclipse/
RedirectMatch 301 ^/student/eclipse/index/*$ /student/technical-ref/eclipse/
RedirectMatch 301 ^/student/eclipse/checkstyle/*$ /student/technical-ref/eclipse/checkstyle/
RedirectMatch 301 ^/student/eclipse/eclemma/*$ /student/technical-ref/eclipse/eclemma/
RedirectMatch 301 ^/student/eclipse/eclemma_install/*$ /student/technical-ref/eclipse/eclemma_install/
RedirectMatch 301 ^/student/eclipse/git/*$ /student/technical-ref/eclipse/git/
RedirectMatch 301 ^/student/eclipse/help/*$ /student/technical-ref/eclipse/help/
RedirectMatch 301 ^/student/eclipse/install/*$ /student/technical-ref/eclipse/install/
RedirectMatch 301 ^/student/eclipse/serialization/*$ /student/technical-ref/eclipse/serialization/
RedirectMatch 301 ^/student/eclipse/subversion/*$ /student/technical-ref/eclipse/subversion/
RedirectMatch 301 ^/student/eclipse/visualvm_install/*$ /student/technical-ref/eclipse/visualvm_install/
RedirectMatch 301 ^/student/gcov/index/*$ /student/technical-ref/gcov/
RedirectMatch 301 ^/student/gcov/*$ /student/technical-ref/gcov/
RedirectMatch 301 ^/student/gradescope/index/*$ /student/technical-ref/gradescope/
RedirectMatch 301 ^/student/gradescope/*$ /student/technical-ref/gradescope/
RedirectMatch 301 ^/student/gradescope/gradingtier-summarizers/*$ /student/technical-ref/gradescope/gradingtier-summarizers/
RedirectMatch 301 ^/student/gradescope/submitting-code/*$ /student/technical-ref/gradescope/submitting-code/
RedirectMatch 301 ^/student/gradescope/submitting-labs/*$ /student/technical-ref/gradescope/submitting-labs/
RedirectMatch 301 ^/student/java/index/*$ /student/technical-ref/java/
RedirectMatch 301 ^/student/java/*$ /student/technical-ref/java/
RedirectMatch 301 ^/student/java/attributedstring/*$ /student/technical-ref/java/attributedstring/
RedirectMatch 301 ^/student/java/browser/*$ /student/technical-ref/java/browser/
RedirectMatch 301 ^/student/java/enum/*$ /student/technical-ref/java/enum/
RedirectMatch 301 ^/student/java/formatting/*$ /student/technical-ref/java/formatting/
RedirectMatch 301 ^/student/java/jar/*$ /student/technical-ref/java/jar/
RedirectMatch 301 ^/student/java/javadoc/*$ /student/technical-ref/java/javadoc/
RedirectMatch 301 ^/student/java/localization/*$ /student/technical-ref/java/localization/
RedirectMatch 301 ^/student/java/loookandfeel/*$ /student/technical-ref/java/loookandfeel/
RedirectMatch 301 ^/student/java/profiling/*$ /student/technical-ref/java/profiling/
RedirectMatch 301 ^/student/java/resources/*$ /student/technical-ref/java/resources/
RedirectMatch 301 ^/student/java/versions/*$ /student/technical-ref/java/versions/
RedirectMatch 301 ^/student/jgrasp/index/*$ /student/technical-ref/jgrasp/
RedirectMatch 301 ^/student/jgrasp/*$ /student/technical-ref/jgrasp/
RedirectMatch 301 ^/student/jgrasp/help/*$ /student/technical-ref/jgrasp/help/
RedirectMatch 301 ^/student/junit/index/*$ /student/technical-ref/junit/
RedirectMatch 301 ^/student/junit/*$ /student/technical-ref/junit/
RedirectMatch 301 ^/student/junit/gui/*$ /student/technical-ref/junit/gui/
RedirectMatch 301 ^/student/junit/v3/*$ /student/technical-ref/junit/v3/
RedirectMatch 301 ^/student/junit/v4/*$ /student/technical-ref/junit/v4/
RedirectMatch 301 ^/student/junit/v5/*$ /student/technical-ref/junit/v5/
RedirectMatch 301 ^/student/mathematics/index/*$ /student/technical-ref/mathematics/
RedirectMatch 301 ^/student/mathematics/*$ /student/technical-ref/mathematics/
RedirectMatch 301 ^/student/mathematics/alphabets/*$ /student/technical-ref/mathematics/alphabets/
RedirectMatch 301 ^/student/mathematics/angular-measure/*$ /student/technical-ref/mathematics/angular-measure/
RedirectMatch 301 ^/student/mathematics/coordinate-systems-2d/*$ /student/technical-ref/mathematics/coordinate-systems-2d/
RedirectMatch 301 ^/student/mathematics/intervals/*$ /student/technical-ref/mathematics/intervals/
RedirectMatch 301 ^/student/mathematics/limits/*$ /student/technical-ref/mathematics/limits/
RedirectMatch 301 ^/student/mathematics/logarithms/*$ /student/technical-ref/mathematics/logarithms/
RedirectMatch 301 ^/student/mattermost/index/*$ /student/technical-ref/mattermost/
RedirectMatch 301 ^/student/mattermost/*$ /student/technical-ref/mattermost/
RedirectMatch 301 ^/student/personalgithub/index/*$ /student/technical-ref/personalgithub/
RedirectMatch 301 ^/student/personalgithub/*$ /student/technical-ref/personalgithub/
RedirectMatch 301 ^/student/personalgithub/eclipse/*$ /student/technical-ref/personalgithub/eclipse/
RedirectMatch 301 ^/student/python/virtualenv/*$ /student/technical-ref/python/virtualenv/
RedirectMatch 301 ^/student/scrumj/index/*$ /student/technical-ref/scrumj/
RedirectMatch 301 ^/student/scrumj/*$ /student/technical-ref/scrumj/
RedirectMatch 301 ^/student/scrumj/help/*$ /student/technical-ref/scrumj/help/
RedirectMatch 301 ^/student/scrumj/practices/*$ /student/technical-ref/scrumj/practices/
RedirectMatch 301 ^/student/stu/*$ /student/technical-ref/stu/
RedirectMatch 301 ^/student/stu/index/*$ /student/technical-ref/stu/
RedirectMatch 301 ^/student/stu/basics/*$ /student/technical-ref/stu/basics/
RedirectMatch 301 ^/student/stu/ettiquette/*$ /student/technical-ref/stu/ettiquette/
RedirectMatch 301 ^/student/stu/filezilla/*$ /student/technical-ref/stu/filezilla/
RedirectMatch 301 ^/student/stu/gdb/*$ /student/technical-ref/stu/gdb/
RedirectMatch 301 ^/student/stu/vscode/*$ /student/technical-ref/stu/vscode/
RedirectMatch 301 ^/student/utilities/index/*$ /student/technical-ref/utilities/
RedirectMatch 301 ^/student/utilities/*$ /student/technical-ref/utilities/
RedirectMatch 301 ^/student/utilities/activity-monitors/*$ /student/technical-ref/utilities/activity-monitors/
RedirectMatch 301 ^/student/utilities/start/keypairs/beginner/*$ /student/technical-ref/utilities/beginner/
RedirectMatch 301 ^/student/utilities/beginner/*$ /student/technical-ref/utilities/beginner/
RedirectMatch 301 ^/student/utilities/git/*$ /student/technical-ref/utilities/git/
RedirectMatch 301 ^/student/utilities/start/keypairs/*$ /student/technical-ref/utilities/keypairs/
RedirectMatch 301 ^/student/utilities/keypairs/*$ /student/technical-ref/utilities/keypairs/
RedirectMatch 301 ^/student/utilities/sshfs/*$ /student/technical-ref/utilities/sshfs/
RedirectMatch 301 ^/student/utilities/sshportforward/*$ /student/technical-ref/utilities/sshportforward/
RedirectMatch 301 ^/student/visualparadigm/*$ /student/technical-ref/visualparadigm/
RedirectMatch 301 ^/student/visualparadigm/index/*$ /student/technical-ref/visualparadigm/
RedirectMatch 301 ^/student/visualparadigm/tips/*$ /student/technical-ref/visualparadigm/tips/
RedirectMatch 301 ^/student/vivifyscrum/index/*$ /student/technical-ref/vivifyscrum/
RedirectMatch 301 ^/student/vivifyscrum/*$ /student/technical-ref/vivifyscrum/
RedirectMatch 301 ^/student/vivifyscrum/help/*$ /student/technical-ref/vivifyscrum/help/
RedirectMatch 301 ^/student/vivifyscrum/practices/*$ /student/technical-ref/vivifyscrum/practices/
RedirectMatch 301 ^/student/xml/*$ /student/technical-ref/xml/
RedirectMatch 301 ^/student/xml/index/*$ /student/technical-ref/xml/
RedirectMatch 301 ^/student/xml/basics/*$ /student/technical-ref/xml/basics/
RedirectMatch 301 ^/student/zip/*$ /student/technical-ref/zip/
RedirectMatch 301 ^/student/zip/index/*$ /student/technical-ref/zip/
RedirectMatch 301 ^/student/zip/creating/*$ /student/technical-ref/zip/creating/
RedirectMatch 301 ^/student/zip/emailing/*$ /student/technical-ref/zip/emailing/
RedirectMatch 301 ^/student/zip/extracting/*$ /student/technical-ref/zip/extracting/