/* colors */

.md-banner {
  background-color: var(--md-warning-bg-color);
  color: var(--md-warning-fg-color);
}

.md-banner a {
  color: var(--md-primary-fg-color);
  font-weight: bold;
}

.md-header,
.md-container > nav {
  background-color: #6237AD;
}

.md-copyright {
  color: var(--md-footer-fg-color--light);
}

/* admonitions */

.md-typeset .admonition,
.md-typeset details {
  font-size: unset;
}

/* tables */

.md-typeset table:not([class]) {
  font-size: unset;
  line-height: initial;
}

.md-typeset table:not([class]) th {
  background-color: var(--md-code-bg-color);
}

/* images */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* table filter */

.table-filter {
  border: 1px solid var(--md-default-fg-color--lighter);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9rem;
  padding: 0.4em 0.6em;
}

/* footers */

.last-modified {
  background-color: var(--md-code-bg-color);
  font-size: small;
  margin-top: 3em;
  padding: 1em;
}

/* print settings */

.md-typeset h2,
.md-typeset h3 {
  page-break-after: avoid;
}

@media print {
  .md-main__inner {
    margin-top: 0;
  }
}

@page {
  margin: 0.5in;
}


/* highlight the linked heading */
@keyframes highlight {
    0% {
        background: none;
        color:var(--md-typeset-color);
        text-decoration: none;
    }
    50%{
        background: #7E56C2;
        color: #fff;
        text-decoration: underline;
    }
    100% {
        background: none;
        color:var(--md-typeset-color);
        text-decoration: none;
    }
}

:target {
  /* animation: 3s ease-in-out 0s highlight; */
  /* animation: 3s cubic-bezier(0.4, 0, 0.6, 1) 0s highlight; */
  /* animation: 3s cubic-bezier(0.2, 0, 0.8, 1) 0s highlight; */
  /* https://cubic-bezier.com/#.75,0,.25,1 this thing was helpful.  */
  /* animation: 3s cubic-bezier(1, 0, 0, 1) 0s highlight; */
  animation: 3s cubic-bezier(.75,0,.25,1) 0s highlight;
}

/* horizontal definition list */
/* requires 2 classes to have more specificity than selector: .md-typeset dl */

.dl-horizontal.jmucs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  align-items: baseline;
}

.dl-horizontal.jmucs dt {
  grid-column: 1;
  text-align: right;
  margin: 0;
  font-weight: bold;
}

.dl-horizontal.jmucs dd {
  grid-column: 2;
  margin: 0;
}

.dl-horizontal.jmucs dd+dd {
  margin-top: -0.85em;
}

/* Intermediate dts span both columns so the first dd
   aligns with the last dt in the group */
.dl-horizontal.jmucs dt:has(+ dt) {
  grid-column: 1 / -1;
  box-sizing: border-box;
  padding-right: calc((200% + 1em) / 3);
}

.dl-horizontal.jmucs dt:has(+ dd):after {
  content: ":";
  height: 0.5em;
}