/* hyperlinks */

.md-typeset a {
  text-decoration: underline;
}

/* colors */

.md-banner {
  background-color: var(--md-warning-bg-color);
  color: var(--md-warning-fg-color);
}

.md-banner a {
  color: var(--md-primary-fg-color);
  font-weight: bold;
}

.md-header,
.md-container > nav {
  background-color: #6237AD;
}

.md-copyright {
  color: var(--md-footer-fg-color--light);
}

/* admonitions */

.md-typeset .admonition,
.md-typeset details {
  font-size: unset;
}

/* tables */

.md-typeset table:not([class]) {
  font-size: unset;
  line-height: initial;
}

.md-typeset table:not([class]) th {
  background-color: var(--md-code-bg-color);
}

/* images */

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footers */

.last-modified {
  background-color: var(--md-code-bg-color);
  font-size: small;
  margin-top: 3em;
  padding: 1em;
}

/* print settings */

.md-typeset h2,
.md-typeset h3 {
  page-break-after: avoid;
}

@media print {
  .md-main__inner {
    margin-top: 0;
  }
}

@page {
  margin: 0.5in;
}
